table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

th {
  background-color: #007bff;
  color: rgb(42, 6, 6);
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
  color: rgb(42, 6, 6);
}

tr:hover {
  background-color: #6e9ec2;
  color: rgb(42, 6, 6);
  /* cursor: pointer; */
}

td:first-child {
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
  background-color: #007bff;
  z-index: 1;
}

th,
td {
  word-wrap: break-word;
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-file {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 600px;
  max-height: 90vh;
  overflow: auto;
  text-align: center;
}

.btn-all {
  margin-bottom: 10px;
}

.delete-button-file,
.download-button-file,
.close-button-file {
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button-file {
  background-color: #b22222;
}

.download-button-file {
  background-color: #363fc3;
}

.close-button-file {
  background-color: grey;
}

.delete-button-file:hover {
  background-color: #ff6347;
}

.download-button-file:hover {
  background-color: #0f2281;
}

.close-button-file:hover {
  background-color: rgb(163, 224, 161);
}

.delete-button-file:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.open-button-link,
.copy-button-link {
  margin-left: 10px;
  background: #000;
  color: white;
  cursor: pointer;
}
.open-button-link:hover,
.copy-button-link:hover {
  color: yellow;
  cursor: pointer;
}

.recomment-button-file:hover,
.rename-button-file:hover {
  color: green;
  cursor: pointer;
}

#toast {
  color: green;
  font-size: 16px;
}
