.item-user{
  font-size: 16px;
  font-weight: bold;
  color: green;
}

.label-admin {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.input-admin {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 30px;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.3s;
}

.checkmark:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.input-admin:checked+.checkmark {
  background-color: #2196F3;
}

.input-admin:checked+.checkmark:after {
  transform: translateX(13px);
}

.button-user-actions {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.button-user-link,
.button-user-delete {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-user-link {
  background-color: #007bff;
  color: white;
}

.button-user-delete {
  background-color: #dc3545;
  color: white;
}

.button-user-link:hover,
.button-user-delete:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.button-user-link:active,
.button-user-delete:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .button-user-actions {
    flex-direction: column;
    align-items: center;
  }

  .button-user-link,
  .button-user-delete {
    width: 100%;
    margin-bottom: 5px;
  }
}
