.modal-box-form-reg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-form-reg {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: relative;
}

.close-button-form-reg {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.close-button-form-reg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.close-button-form-reg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.close-button-form-reg:hover {
  color: #007bff;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-reg-form-submit,
.button-reg-form-cancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-reg-form-submit {
  background-color: #007bff;
  color: white;
}

.button-reg-form-submit:hover {
  background-color: #0056b3;
}

.button-reg-form-cancel {
  background-color: #ff6347;
  color: white;
}

.button-reg-form-cancel:hover {
  background-color: #ff4500;
}

.box-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  color: #000;
}

.name-checkbox {
  white-space: nowrap;
  font-size: 16px;
}

.label-admin {
  display: inline-block;
  cursor: pointer;
}
