.welcome-stats {
  text-align: center;
  padding: 2rem;
  background-color: #4f71df;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.stats-list {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1.5rem;
  list-style-type: none;
  padding-left: 0;
}

.stats-list li {
  display: inline-block;
  white-space: nowrap;
}

.stats-list span {
  font-weight: bold;
  color: whitesmoke;
  opacity: 0.7;
}

.stats-list strong {
  color: #ff7733;
  font-size: 1.2em;
}

p {
  margin: 0 auto;
  line-height: 1.6;
}
